::-webkit-scrollbar {
  display: none;
}

.resultDiv {
  width: 800px;
  height: 600px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  white-space: pre-wrap;
  overflow: scroll;
}

li {
  list-style: none;
  margin: 5px;
  cursor: pointer;
}

.methodName {
  border: 1px solid salmon;
  border-radius: 4px;
  background-color: lightgray;
  margin: 5px;
  pointer-events: none;
}

.methodClick {
  cursor: pointer;
  pointer-events: none;
}

.history {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}

.displayOuter {
  display: flex;
  flex-direction: row;
}

.historyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.MuiIconButton-label {
  cursor: pointer;
  pointer-events: none;
}
.MuiTouchRippe-root {
  cursor: pointer;
  pointer-events: none;
}
.MuiSvgIcon-root {
  cursor: pointer;
  pointer-events: none;
}
